<div class="d-flex justify-content-center align-items-center rounded-circle"
     style="width: calc(5rem * {{ scale }}); height: calc(5rem * {{ scale }}); background-color: red;">
    <div class="d-flex flex-column justify-content-center align-items-center text-light rounded-circle"
         style="width: calc(4rem * {{ scale }}); height: calc(4rem * {{ scale }}); border: calc(0.125rem * {{ scale }}) dotted white; background-color: red;">
        <p class="m-0 fw-bold" style="font-size: calc(1rem * {{ scale }});">
            {{ discount }}%
        </p>
        <p class="m-0 fw-bold" style="font-size: calc(0.75rem * {{ scale }});">
            OFF
        </p>
    </div>
</div>
