{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="position-relative"
         style="height: var(--available-space-height);">
        <div class="h-100"
             style=" background-image: url('{% static 'home.jpg' %}');
                     background-size: cover;
                     background-position: center;
                     background-repeat: no-repeat;
                     filter: brightness(0.3);
                     "
        >
        </div>
        <div class="position-absolute top-0 start-0 w-100 h-100
                        d-flex flex-column justify-content-center align-items-center
                        text-center text-white"
             style="text-shadow: 0 0 1rem black; font-family: 'Elsie Swash Caps', cursive;"
        >
                <span style="font-size: calc(5rem + 5vw); line-height: calc(5rem + 5vw);">
                    Find Your Style
                </span>
            {% if offers %}
                <div class="d-flex flex-column align-items-center">
                    <span class="pe-3" style="font-size: calc(3rem + 3vw);">
                        Offers Up To
                    </span>
                    {% include 'products/discount.html' with discount=offers.first.discount scale=2 only %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="p-4">
        {% include 'products/product_list.html' with products=offers title="Offers" only %}
        {% include 'products/product_list.html' with products=latest title="Latest" only %}
        {% include 'products/product_list.html' with products=products title="For You" only %}
    </div>
{% endblock %}
