{% extends 'base.html' %}

{% block content %}
    <div class="m-4">
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-primary" href="{% url 'create_product' %}">
                <i class="bi bi-plus-lg"></i>
                Add product
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center align-middle">
                <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th class="text-center">Product</th>
                    <th>Name</th>
                    <th class="d-none d-sm-table-cell">Description</th>
                    <th class="d-none d-md-table-cell">Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>
                            <a href="{% url 'product_detail' id=product.id %}">
                                <img src="{{ product.images.first.path.url }}" alt="" height="150px"/>
                            </a>
                        </td>
                        <td>
                            <a class="text-decoration-none text-dark" href="{% url 'product_detail' id=product.id %}">
                                {{ product.name }}
                            </a>
                        </td>
                        <td class="d-none d-sm-table-cell">{{ product.description }}</td>
                        <td class="d-none d-md-table-cell"> ${{ product.price }}</td>
                        <td>
                            <a class="btn btn-primary mb-2"
                               href="{% url 'edit_product' id=product.id %}"
                            >
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger"
                               href="{% url 'delete_product' id=product.id %}"
                            >
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
