{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-wrap p-0 p-md-4">
        <div id="carouselFade"
             class="carousel slide carousel-fade col-12 col-md-6 my-4 my-md-0"
             data-bs-theme="dark"
             style="max-height: 85vh; min-height: 50vh;"
        >
            <div class="carousel-inner h-100">
                {% for image in product.images.all %}
                    <div class="carousel-item h-100 d-flex justify-content-center align-items-center
                                {% if product.images.first == image %} active {% endif %}">
                        <div class="w-75 h-100"
                             style=" background-image: url('{{ image.path.url }}');
                                     background-size: contain;
                                     background-position: center;
                                     background-repeat: no-repeat;
                                     "
                        >
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if product.images.all|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFade"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 px-4 px-md-0">
            <h1>{{ product.name }}</h1>
            <p>From the curated closet of @{{ product.user.username }}</p>

            {% if product.discount %}
                <div class="d-flex justify-content-center align-items-start flex-column">
                    <p class="border bg-danger text-light p-2">
                        {{ product.discount }}% off
                    </p>
                    <h4>
                        <del>${{ product.price }}</del>
                        ${{ product.net_price }}
                    </h4>
                </div>
            {% else %}
                <h4>
                    ${{ product.price }}
                </h4>
            {% endif %}

            {% if product.stock > 0 %}
                <form class="my-5" method="POST" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <div class="d-flex align-items-center">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <label for="quantity" class="fw-bold me-2">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" class="form-control w-25"
                               value="1" min="1" max="{{ product.stock }}">
                        <button type="submit" class="btn btn-primary ms-2">Add to cart</button>
                    </div>
                </form>
            {% else %}
                <p class="text-danger fw-bold">Out of stock</p>
            {% endif %}

            <p class="fw-bold">Description:</p>
            <p>{{ product.description }}</p>

            {% if product.composition %}
                <p class="fw-bold">Composition:</p>
                <p>{{ product.composition }}</p>
            {% endif %}

            <p class="fw-bold">Size:</p>
            <p>{{ product.size }}</p>

            {% if product.brand %}
                <p class="fw-bold">Brand:</p>
                <p>{{ product.brand }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
