{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="p-4">
        <div class="d-flex flex-column align-items-center pb-4 {% if not query %} justify-content-center {% endif %}"
                {% if not query %} style="height: 55vh;" {% endif %}
        >
            <h1 style="font-family: 'Elsie Swash Caps', cursive;">
                Search
            </h1>
            <form method="GET" action="{% url 'search' %}" class="d-flex col-12 col-sm-9 col-md-6" role="search">
                <input class="form-control me-2" type="search" placeholder="What are you looking for?"
                       aria-label="Search"
                       name="q" value="{{ query }}" required>
                {% if query %}
                    <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#filters_panel" aria-controls="filters_panel">
                        <i class="bi bi-filter"></i>
                    </button>
                {% endif %}
                <button class="btn btn-outline-success" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        {% if query %}
            <div>
                {% include 'products/filters.html' with query=query max_price=max_price min_price=min_price brands=brands sizes=sizes with_discount=with_discount out_of_stock=out_of_stock only %}
                {% if products %}
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for product in products %}
                            <div class="p-2">
                                {% include 'products/product_item.html' with product=product only %}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-center align-items-center" style="height: 42vh">
                        <h4>NO PRODUCTS FOUND</h4>
                    </div>
                {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}
