{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% if items %}
        <div class="table-responsive m-5 p-0 p-sm-5">
            <table class="table align-middle text-center">
                <thead>
                <tr>
                    <th colspan="2">
                        <h1 class="text-dark fw-normal m-0 text-start">
                            Your Cart
                        </h1>
                    </th>
                    <th class="text-secondary fw-normal d-none d-md-table-cell">Price</th>
                    <th class="text-secondary fw-normal d-none d-sm-table-cell">Quantity</th>
                    <th class="text-secondary fw-normal">Subtotal</th>
                    <th style="width: 50px">
                        <a href="{% url 'clear_cart' %}" class="text-secondary fw-normal">
                            Clear All
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td style="width: 170px;">
                            <a href="{% url 'product_detail' id=item.product.id %}">
                                <img src="{{ item.product.images.first.path.url }}" alt="" height="80px"/>
                            </a>
                        </td>
                        <td class="text-start">
                            <a href="{% url 'product_detail' id=item.product.id %}"
                               class="text-decoration-none text-dark">
                                {{ item.product.name }}
                            </a>
                        </td>
                        <td class="d-none d-md-table-cell">
                            {% if item.product.discount %}
                                <div class="text-decoration-line-through text-secondary">
                                    ${{ item.product.price }}
                                </div>
                                <div class="text-danger fw-bold">
                                    ${{ item.product.net_price }}
                                </div>
                            {% else %}
                                ${{ item.product.price }}
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <form method="POST" action="{% url 'update_item_quantity' %}"
                                  class="d-flex justify-content-center align-items-center"
                            >
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                <label class="d-none" for="quantity"></label>
                                <input class="form-control mx-2 text-center"
                                       id="quantity"
                                       name="quantity"
                                       type="number"
                                       value="{{ item.quantity }}"
                                       max="{{ item.product.stock }}"
                                       min="1"
                                       onchange="handleChange(this)"
                                       onblur="handleBlur(this)"
                                       autocomplete="off"
                                       required
                                >
                            </form>
                        </td>
                        <td {% if item.product.discount %} class="text-danger fw-bold" {% endif %}>
                            ${{ item.subtotal }}
                        </td>
                        <td>
                            <a href="{% url 'delete_item_from_cart' product_id=item.product.id %}" class="text-danger">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-end pt-5">
                <div class="d-flex flex-column me-2">
                    <p class="fw-bold pb-5 mb-0">
                        Subtotal
                    </p>
                    <a href="{% url 'home' %}" class="btn btn-dark">
                        Continue Shopping
                    </a>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <p class="fw-bold pb-5 mb-0">
                        ${{ subtotal }}
                    </p>
                    <a href="" class="btn btn-warning">
                        Checkout
                    </a>
                </div>
            </div>
        </div>

    {% else %}
        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 62vh;">
            <h4>
                YOUR CART IS EMPTY
            </h4>
            <a href="{% url 'home' %}" class="text-secondary">
                Click here to start shopping.
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/debounce.js' %}"></script>
{% endblock %}
