{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="col-10 col-sm-8 col-md-6 col-xl-4 mx-auto mb-5 mt-4">
        <div class="d-flex justify-content-center">
            <h1 class="mb-4">
                My Account
            </h1>
        </div>
        <div class="rounded-circle overflow-hidden mx-auto"
             style=" background-image:
                     {% if form.instance.picture %}
                         url('{{ form.instance.picture.url }}')
                     {% else %}
                         url('{% static 'default_avatar.png' %}')
                     {% endif %};
                     background-position: center;
                     background-size: cover;
                     width: 150px;
                     height: 150px;
                     "
        >
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for fm in form %}
                <label class="my-2 fw-semibold">
                    {{ fm.label }}
                    {% if fm.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                <div>
                    {% if fm.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ fm.errors }}
                        </div>
                    {% endif %}
                    {{ fm }}
                </div>
            {% endfor %}
            <div class="form-group mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
{% endblock %}
