{% extends 'base.html' %}

{% block title %}
    <title>My Store | Sign in</title>
{% endblock %}

{% block content %}
    <div class="col-10 col-sm-8 col-md-6 col-xl-4 mx-auto mb-5 mt-4">
        <div class="d-flex justify-content-center">
            <h1 class="mb-4">
                Sign in
            </h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            {% for fm in form %}
                <label class="my-2 fw-semibold">
                    {{ fm.label }}
                </label>
                <div>
                    {{ fm }}
                </div>
            {% endfor %}
            <div class="form-group mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}
