{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'logo.svg' %}" alt="Vintage Vault" style="height: var(--navbar-logo-height)"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarText">
            <span class="navbar-text">
                    Your timeless treasures
            </span>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_products' %}">My products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link py-0" href="{% url 'cart_detail' %}">
                        <div class="position-relative d-flex justify-content-start py-2"
                                {% if request.session.items_count %} style="width: 32px;" {% endif %}
                        >
                            <img src="{% static 'cart.svg' %}" alt="cart" width="26">
                            {% if request.session.items_count %}
                                <div class="rounded-circle bg-black text-white text-center fw-semibold position-absolute end-0 bottom-0"
                                     style="min-width: 18px; height: 18px; font-size: 14px; line-height: 18px; padding: 0 1px;"
                                >
                                    {% if request.session.items_count < 10 %}
                                        {{ request.session.items_count }}
                                    {% else %}
                                        +9
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
